#
# Copyright (c) 2017 Dell Inc., or its subsidiaries.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
language: java
jdk:
  - oraclejdk8
env:
  global:
    - GRADLE_OPTS="-Xms128m"

sudo: required

services:
  - docker

cache:
  directories:
  - .gradle
  - $HOME/.gradle
  - $HOME/.m2
  
notifications:
  slack: emcnautilus:UZK3F72LSRYWXUuvlzSilFyy
  email:
    - tom.kaitchuck@dell.com
    - bhargav.gulavani@dell.com
    - Flavio.Junqueira@emc.com
