<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>connector-test.log</file>
        <append>false</append>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>

    <!-- suppress unnecessary logging statements to keep the log file size minimum -->
    <logger name="io.pravega.connectors" level="INFO"/>
    <logger name="io.pravega" level="OFF"/>
    <logger name="io.netty" level="OFF"/>
    <logger name="io.grpc" level="OFF"/>
    <logger name="org.apache.flink" level="OFF"/>
    <logger name="org.apache.zookeeper" level="OFF"/>
    <logger name="org.apache.curator" level="OFF"/>

</configuration>
