<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="io.pravega.connectors.flink" level="DEBUG"/>

    <logger name="io.pravega.controller.server.rpc.grpc.v1.ControllerServiceImpl" level="INFO"/>
    <logger name="io.pravega.client.stream.impl.ControllerImpl" level="INFO"/>
    <logger name="io.pravega.controller.server.eventProcessor.requesthandlers" level="INFO"/>

    <logger name="io.pravega.client" level="INFO"/>

    <logger name="io.pravega" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
